<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dxy.permission">

    <application>
        <provider
            android:name=".SmartPermissionProvider"
            android:authorities="${applicationId}.DxyPermissionProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>